<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Add tourist</title>

    <script th:src="@{/js/touristCreate.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">Space flights</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/users/list}" >Tourists
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/tourist/list}">List of tourists</a>
                    </li>
                    <li><a th:href="@{/tourist/create}">Add tourist</a></li>
                </ul>

            <li class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/users/list}" >Flights
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/flight/list}">List of flights</a>
                    </li>
                    <li><a th:href="@{/flight/create}">Add flight</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>



    <!--<h3 style="color:blue">POST-GET AJAX NESTED OBJECT</h3>-->

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Add new tourist
                </h3>
            </div>

    <!--<div class="row col-md-6">-->
            <div class="panel-body">

        <form id="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required/>
            </div>
            <div class="form-group">
                <label for="surname">Surname:</label>
                <input type="text"  class="form-control" id="surname" name="surname" placeholder="Enter Surname" required/>
            </div>
            <div class="form-group">
                <label for="country">Country:</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="Enter Country" required/>
            </div>
            <div class="form-group">
                <label  for="sex">Sex:</label>
                <select class="form-control"  name="sex" id="sex">
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
                <!--<input type="text" class="form-control" id="sex" name="sex" placeholder="Enter Sex" required/>-->
            </div>
            <div class="form-group">
                <div>
                    <label for="dateOfBirth">Date of birth:</label>

                </div>
                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" placeholder="Enter date of your birth" required/>
            </div>

            <div class="form-group">
                <label for="note">Note:</label>
                <input type="text" class="form-control" id="note" name="note" placeholder="Enter note" />
            </div>
        </form>

        <button id="postCustomersBtn" style="margin-bottom:10px" type="submit" class="btn btn-default">Submit</button>

        <div id="postResultDiv" style="margin:10px 0px 10px 0px;">
        </div>

            </div>
        </div>
    </div>


</body>


</html>