<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Space flights</title>
</head>
<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">Space flights</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/users/list}" >Tourists
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/tourist/list}">List of tourists</a>
                    </li>
                    <li><a th:href="@{/tourist/create}">Add tourist</a></li>
                </ul>

            <li class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/users/list}" >Flights
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/flight/list}">List of flights</a>
                    </li>
                    <li><a th:href="@{/flight/create}">Add flight</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Space flights official page</h1>
    <p>Discover unknown environment!</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img th:src="@{/images/leadership.jpg}" class="center-block" width="200" height="250" alt="Leadership" />
            <h3 align="center">NASA Leadership </h3>

            <p>NASA is led by Administrator Jim Bridenstine, NASA's 13th administrator. Before joining NASA, Bridenstine served in the U.S. Congress, representing Oklahoma’s First Congressional District, serving on the Armed Services Committee and the Science, Space and Technology Committee. Bridenstine’s career in federal service began in the U.S. Navy, flying the E-2C Hawkeye off the USS Abraham Lincoln aircraft carrier. .</p>
        </div>
        <div class="col-sm-4">
            <img th:src="@{/images/solarprobe.png}" class=" center-block" width="200" height="250" alt="Solar Probe" />
            <h3 align="center">Parker Solar Probe</h3>

            <p>NASA’s Parker Solar Probe will be the first-ever mission to "touch" the Sun. The spacecraft, about the size of a small car, will travel directly into the Sun's atmosphere about 4 million miles from the surface. Parker Solar Probe launched aboard a Delta IV-Heavy rocket from Cape Canaveral, Aug. 12, 2018 at 3:31 a.m. Eastern time.</p>
        </div>
        <div class="col-sm-4">

            <img th:src="@{/images/nasa.svg}" class="center-block"  width="200" height="250" alt="Logo" />
            <h3 align="center">NASA mission</h3>

            <p>NASA's Vision: We reach for new heights and reveal the unknown for the benefit of humankind.</p>

        </div>
    </div>
</div>
</body>
</html>