<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Add flight</title>

    <script th:src="@{/js/flightCreate.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">Space flights</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/users/list}" >Tourists
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/tourist/list}">List of tourists</a>
                    </li>
                    <li><a th:href="@{/tourist/create}">Add tourist</a></li>
                </ul>

            <li class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/users/list}" >Flights
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/flight/list}">List of flights</a>
                    </li>
                    <li><a th:href="@{/flight/create}">Add flight</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>



<!--<h3 style="color:blue">POST-GET AJAX NESTED OBJECT</h3>-->

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                Add new flight
            </h3>
        </div>

        <!--<div class="row col-md-6">-->
        <div class="panel-body">

            <form id="form">
                <div class="form-group">
                    <label for="whereFrom">From:</label>
                    <input type="text" class="form-control" id="whereFrom" name="whereFrom" placeholder="Enter Country From" required/>
                </div>
                <div class="form-group">
                    <label for="whereTo">To:</label>
                    <input type="text"  class="form-control" id="whereTo" name="whereTo" placeholder="Enter Country To" required/>
                </div>
                <div class="form-group">
                    <label for="dateAndTimeDeparture">Departure</label>
                    <input type="datetime-local" class="form-control" id="dateAndTimeDeparture" name="dateAndTimeDeparture" placeholder="Enter Date And Time of Departure" required/>
                </div>
                <div class="form-group">
                    <div>
                        <label for="dateAndTimeArrival">Arrival</label>

                    </div>
                    <input type="datetime-local" class="form-control" id="dateAndTimeArrival" name="dateAndTimeArrival" placeholder="Enter Date And Time of Departure" required/>
                </div>

                <div class="form-group">
                    <label for="places">Places :</label>
                    <input type="number" class="form-control" id="places" name="places" placeholder="Enter number of placesss on plane" />
                </div>

                <div class="form-group">
                    <label for="price">Price :</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Enter number of placesss on plane" />
                </div>
            </form>

            <button id="postCustomersBtn" style="margin-bottom:10px" type="submit" class="btn btn-default">Submit</button>

            <!-- Message result from server -->
            <div id="postResultDiv" style="margin:10px 0px 10px 0px;">
            </div>

        </div>
    </div>
</div>


</body>


</html>