<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

    <title>Tourist</title>

    <script th:src="@{/js/flightId.js}"></script>

</head>
<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">Space flights</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/users/list}" >Tourists
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/tourist/list}">List of tourists</a>
                    </li>
                    <li><a th:href="@{/tourist/create}">Add tourist</a></li>
                </ul>

            <li class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/users/list}" >Flights
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/flight/list}">List of flights</a>
                    </li>
                    <li><a th:href="@{/flight/create}">Add flight</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!--<div class="container">-->
<!--<div class="row">-->
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
               Flight information
            </h3>
        </div>
        <div class="panel-body">

            <table class="table table-user-information" id="flights" >
                <thead>
                <tr>

                    <th data-field="id">Id:</th>

                    <th data-field="whereFrom">From:</th>

                    <th data-field="whereTo">To:</th>

                    <th data-field="dateAndTimeDeparture">Departure:</th>

                    <th data-field="dateAndTimeArrival">Arrival:</th>

                    <th data-field="places">Places remaining:</th>

                    <th data-field="price">Price:</th>


                </tr>
                </thead>
                <tbody>

                </tbody>

            </table>
            <a id="deleteTouristBtn" class="btn btn-danger">Delete Flight <i class="glyphicon glyphicon-remove"></i></a>

        </div>
        <div class="panel-heading">
            <h3 class="panel-title">
                Tourist in this flights
            </h3>
        </div>
        <div class="panel-body">

            <table class="table table-user-information" id="table" >
                <thead>
                <tr>
                    <th data-field="id">ID:</th>

                    <th data-field="name">Name:</th>

                    <th data-field="surname">Surname</th>

                    <th data-field="sex">Gender</th>

                    <th data-field="dateOfBirth">Day of Birth</th>

                    <th data-field="country">Country</th>

                    <th data-field="note">Note</th>


                    <th data-field="action" id="action"></th>

                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <a id="addFlightBtn" class="btn btn-success">Add tourist <i class="glyphicon glyphicon-plus"></i></a>
            <!--<a href="#" class="btn btn-danger">Delete flight <i class="glyphicon glyphicon-remove"></i></a>-->

        </div>

    </div>
</div>
<!--</div>-->
<!--</div>-->
</body>
</html>